
* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

/*Loading animation*/

    .hidden{
        display: none;
    }

    #deadline {
        width:581px;
        max-width: 100%;
        height:158px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #deadline svg {
        width: 100%;
    }

    #progress-time-fill {
        animation-name: progress-fill; 
        animation-timing-function: linear; 
        animation-iteration-count: infinite;
    }

    /* Death */
    #death-group {
        animation-name: walk;
        animation-timing-function: ease; 
        animation-iteration-count: infinite;
        transform: translateX(0);
    }

    #death-arm {
        animation: move-arm 3s ease infinite;
        /* transform-origin: left center; */
        transform-origin: -60px 74px;
    }

    #death-tool {
        animation: move-tool 3s ease infinite;
        transform-origin: -48px center;
    }

    /* Designer */

    #designer-arm-grop {
        animation: write 1.5s ease infinite;
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
        transform-origin: 90% top;
    }

    .deadline-days {
        color: #fff;
        text-align: center;
        width: 200px;
        margin: 0 auto;
        position: relative;
        height: 20px;
        font-family: 'Oswald', sans-serif;
    }

    .deadline-days .inner {
        width: 200px;
        position: relative;
        top: 0;
        left: 0;
    }

    .mask-red,
    .mask-white {
        position: absolute;
        top: 0;
        width: 100%;
        overflow: hidden;
        height: 100%;
    }

    .mask-red {
        left: 0;
        width: 0;
        color: #BE002A;
        animation: text-red 20s ease infinite;
        z-index: 2;
        background: #000;
    }
    .mask-white {
        right: 0;
    }

    /* Flames */

    #red-flame {
        opacity: 0;
        animation: show-flames 20s ease infinite, red-flame 120ms ease infinite;
        transform-origin: center bottom;
    }

    #yellow-flame {
        opacity: 0;
        animation: show-flames 20s ease infinite, yellow-flame 120ms ease infinite;
        transform-origin: center bottom;
    }

    #white-flame {
        opacity: 0;
        animation: show-flames 20s ease infinite, red-flame 100ms ease infinite;
        transform-origin: center bottom;
    }

    @keyframes progress-fill {
        0% {
            x: -100%;
        }

        100% {
            x: -3%;
        }
    }

    @keyframes walk {
        0% {
            transform: translateX(0);
        }
        6% {
            transform: translateX(0);
        }
        10% {
            transform: translateX(100px);
        },

        15% {
            transform: translateX(140px);
        }

        25% {
            transform: translateX(170px);
        }

        35% {
            transform: translateX(220px);
        }

        45% {
            transform: translateX(280px);
        }

        55% {
            transform: translateX(340px);
        }

        65% {
            transform: translateX(370px);
        }

        75% {
            transform: translateX(430px);
        }

        85% {
            transform: translateX(460px);
        }

        100% {
            transform: translateX(520px);
        }
    }

    @keyframes move-arm {
        0% {
            transform: rotate(0);
        }

        5% {
            transform: rotate(0);
        }

        9% {
            transform: rotate(40deg);
        }

        80% {
            transform: rotate(0);
        }
    }

    @keyframes move-tool {
        0% {
            transform: rotate(0);
        }

        5% {
            transform: rotate(0);
        }

        9% {
            transform: rotate(50deg);
        }

        80% {
            transform: rotate(0);
        }
    }

    /* Design animations */

    @keyframes write {
        0% {
            transform: translate(0, 0) rotate(0deg) scale(1, 1);
        }

        16% {
            transform: translate(0px, 0px) rotate(5deg) scale(0.8, 1);
        }

        32% {
            transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
        }

        48% {
            transform: translate(0px, 0px) rotate(6deg) scale(0.8, 1);
        }

        65% {
            transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
        }

        83% {
            transform: translate(0px, 0px) rotate(4deg) scale(0.8, 1);
        }
    }

    @keyframes text-red {
        0% {
            width: 0%;
        }

        100% {
            width: 98%;
        }
    }

    /* Flames */

    /* @keyframes show-flames {
        0% {
            transform:  translateY(0);
        }
        74% {
            transform:  translateY(0);
        }
        80% {
            transform:  translateY(-30px);
        }
        97% {
            transform:  translateY(-30px);
        }
        100% {
            transform: translateY(0px);
        }
    } */

    @keyframes show-flames {
        0% {
            opacity: 0;
        }
        74% {
            opacity: 0;
        }
        80% {
            opacity: 1;
        }
        99% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes red-flame {
        0% {
            transform: translateY(-30px) scale(1, 1);
        }

        25% {
            transform: translateY(-30px) scale(1.1, 1.1);
        }

        75% {
            transform: translateY(-30px) scale(0.8, 0.7); 
        }

        100% {
            transform: translateY(-30px) scale(1, 1); 
        }
    }

    @keyframes yellow-flame {
        0% {
            transform: translateY(-30px) scale(0.8, 0.7);
        }

        50% {
            transform: translateY(-30px) scale(1.1, 1.2);
        }

        100% {
            transform: translateY(-30px) scale(1, 1);
        }
    }


body {
    background-color: #fff;
    color: #000;
    height: 100%;
    font-size: 20px;
    }


.dark-mode {
    background-color: black;
    color: white;
}
    
/* Main page line() */

.container {
    margin: auto;
    padding: auto;
}


/* Nav Bar section Line() */
.navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 0.2rem solid;
    border-bottom-color: #000;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
}

/* 

#navbar__logo {
    background-color: #000000;
    background-size: 100%;
    background-clip: unset;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}



*/

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-left: 0.5rem;
    width: 150px;
  }
  
  .shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 150px;
  }
  
  #navbar__logo {
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 32px;
    position: relative;
    top: -50px;
    text-align: center;
    height: 50px;
    width: 140px;
    }

    .fa-gem {
        margin: 0;
    }
  
  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
    }
  }
  
  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #000000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #2828e9;
    transition: all 0.3s ease;
}

@media screen {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        padding: 0;
    }    

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        min-height: 93vh;
        font-size: 1.6rem;
        width: 100%;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #000000;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
      }
    
      #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
      }
    
      #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
}

.toggle__darkmode {
    position: sticky;
    width: 25%;
    padding: 0;
}


.darkmode {
    position: sticky;
    width: 50%;
    max-width: 50%;
    padding: 10%;
    display: flex;
  }
  
  .darkmode img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 30px;
    top: 50%;
    left: 50%;
  }
  
  .dark__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 60px;
    fill: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  

.main {
    padding: 0;
    margin-left: 10px;
}

.main__container {
    margin-left: 10px;
}

.intro__container {
    align-items: center;
    padding-top: 50%;
    padding-bottom: 55%;
}

.project__gallery {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.project__gallery a {
    display: inline-block;
    color: #fff;
    text-align: justify;
    text-decoration: none;
}

.project__gallery a:hover {
    background-color: #777;
}

#project__gallery .gallery {
    display: inline-block;
}

.gallery {
    position: relative;
    width: 180px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .img-trans {
    width: 100%;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }

  .gallery:hover .img-trans {
    opacity: 0.3;
  }

  .gallery:hover .middle {
    opacity: 1;
  }

  .text {
    color: #fff;
    font-size: 16px;
    padding: auto;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }

  .footer__container {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


